@font-face {
  font-family: "Inter";
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
}
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 5px;
  box-sizing: border-box; 
}
li {
  list-style: none;
}
p {
  font-style: 0.8rem;
}
body {
  min-height: 100vh;
  background: #151515;
  color: whitesmoke;
}
/********* NAVBAR  ************/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
nav ul {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
/************  HEADER  ************/
.header {
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
}
.header-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 5rem;
  font-weight: 500;
}
.header h3 {
  color: #474DFF;
  font-size: 1.8rem;
}
.header-right {
  width: 50%;
}
#modem {
  width: 100%;
}
/************ INFOS  **************/
.infos {
  display: flex;
  background: rgb(7, 6, 6);
  border-radius: 10px;
}
.infos-left {
  width: 33%;
  padding-left: 25px;
}
.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
button {
  background-color: #474DFF;
  color: whitesmoke;
  border: none;
  width: 150px;
  padding: 10px 0;
  border-radius: 10px;
  letter-spacing: 1px;
  margin: 5px;
  font-weight: bold;
}
.infos-right {
  width: 67%;
}
.investors {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.img-container img {
  height: 60px;
}